/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #2848c6;
    color: #15d435;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    color: #6e1237;
    text-decoration: none;
}

section {
    padding: 50px;
}

footer {
    background: #a21a1a;
    color: #391616;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
